{% extends "base.html" %}
{% block content %}
<h1>編集画面</h1>
<form method="POST">
    <label for="date" name="create_at">作成日時</label>
    <input type="date", name="create_at" value={{ post.create_at }}>
    <label for="text" name="bedtime">就寝時間</label>
    <input type="text", name="bedtime" value={{ post.bedtime }}>
    <label for="text" name="wake_up">起床時間</label>
    <input type="text", name="wake_up" value={{ post.wake_up }}>
    <label for="text" name="weight">体重</label>
    <input type="text", name="weight" value={{ post.weight }}>
    <label for="text" name="morning">朝</label>
    <input type="text", name="morning" value={{ post.morning }}>
    <label for="text" name="noon">昼</label>
    <input type="text", name="noon" value={{ post.noon }}>
    <label for="text" name="evening">夕</label>
    <input type="text", name="evening" value={{ post.evening }}>
    <label for="text" name="comment">コメント</label>
    <input type="text", name="comment" value={{ post.comment }}>
    <input type="submit", value="更新">
</form> 
{% endblock %}